body {
  //position: relative;
  margin: 0;
  overflow: hidden;
  background: #111;
  height: 100%;
}
html { height: 100%; }

@mixin gameUI {
  font-family: 'VT323', monospace;
  font-size: 20pt;
  color: #eee;
  text-shadow: #111 3px 2px;
  z-index: 10;
}

#game-wrapper {
  position: absolute;
  top: 0; bottom: 0; width: 100%;
  background-color: #111;
}
#game-stats {
  @include gameUI;
  position: absolute;
  font-family: 'VT323', monospace;
  top: 0; right: 0;
  width: 240px;
  padding: 20px;
}
#game-dialog {
  /* TODO: CSS Grid plz */
  @include gameUI;
  position: relative;
  text-align: center;
  top: 25%; left: 50%;
  margin-left: -200px;
  width: 450px; height: 100%;
  padding: 20px;
  animation: fade-in-out 1.5s 9999;
  & > h1 {
    font-size: 60pt;
    margin: 0;
  }
  & > h2 {
    font-size: 50pt;
    margin: 0; }
}
#footnotes {
  @include gameUI;
  & > a {
    @include gameUI;
    font-size: 10pt;
    text-decoration: none;
  }
  position: absolute;
  bottom: 10px; right: 0;
  width: 300px;
  text-align: right;
  padding-right: 20px;

}
@keyframes fade-in-out  {
  0, 35%, 65%, 100% {opacity: 1;}
  50% {opacity: 0;}
}